<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
   
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <div class="image">
             <img src="/img/thunderstorm-gc7539906b_1280.png" alt="">
        </div>
       
    </div>
    
    {{>footer}}
</body>

</html>